html 
  head
    title
    meta(property="viewport", content="width=device-width, initial-scale=1.0, user-scale=0")
    link(rel="stylesheet", href="/style.css")
    script(src="iframe.js")
  body
    #root
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(type='text/javascript').
      $(document).ready(function(){
        console.log('SOME', document.referrer)
        $.get('/count?url=' + document.referrer, function(res){
          console.log(res)
          $('#root').html(res.count)
        })
        
      })
      
      jQuery("body").ready(function() {
   
          var domain = 'http://localhost',
              bodyH;
   
          if (window.location !== window.parent.location) {
              domain = getDomain(document.referrer);
          }
   
          function getDomain(link) {
              var iframeDomain,
                  parser = document.createElement('a');
   
              parser.href = link;
              iframeDomain = parser.protocol + '//' + parser.hostname;
   
              return iframeDomain;
          }
   
          if (window.addEventListener) {
              addEventListener('message', listener, false);
          } else {
              attachEvent('onmessage', listener);
          }
   
          function listener(event) {
              if ((event && event.data === 'need_height') || !event) {
                  message = {
                      type: 'resize',
                      height: $('body').height() + 50
                  };
                  window.parent.postMessage(JSON.stringify(message), domain);
                  / Add the urls where the C69-10 component is used /
                  window.parent.postMessage(JSON.stringify(message), 'https://author.prod.heliosnissan.net');
             }
          }
   
          function scrollTopIframe(event) {
              var message = {
                  type: 'scrolltopiframe'
              };
              window.parent.postMessage(JSON.stringify(message), domain);
              / Add the urls where the C69-10 component is used /
              window.parent.postMessage(JSON.stringify(message), 'https://author.prod.heliosnissan.net');
          }
   
          function checkForNewHeight() {
              var newBodyH = $('body').height();
              if (bodyH !== newBodyH) {
                  bodyH = newBodyH;
                  listener();
              }
          }
   
          $('[data-scrolltop-iframe]').on('click', scrollTopIframe);
   
          setInterval(checkForNewHeight, 250);
   
      });
