body {
  margin: 0;
  padding: 0;
  height: 100px;
  text-align: center;
}

@font-face {
    font-family: "Datsun";
    src: url('/Datsun-Bold.otf');
}

#root {
  display: inline-block;
  height: 100px;
  font-family: "Datsun";
  font-size: 24px;
  line-height: 100px;
  padding: 0 0 0 80px;
  background: #FFF 0 50% url(/eye.png) no-repeat;
  box-sizing: border-box;
  margin: 0 auto;
  color: #242568;
  background-size: 57px 34px;
  text-align: left;
}
